<h2>Comment</h2>
<form action="/comments" id="commentForm" method="POST">
  <label for="comment">Comment:</label>
  <textarea id="comment" name="comment"></textarea>

  <button type="submit">Create Comment</button>
</form>
<a href="/eventPage">Go Back</a>
<script src="/public/js/validate_comment.js"></script>