<div class="content">
  <section class="content-section">
    <h2>Events</h2>
    <div class="events-container" id="events-container">
      {{#each events}}
        {{> event}}
      {{/each}}
    </div>
    <button>View More</button>
  </section>
  {{#if signedIn}}
    <section class="content-section">
    {{#if organizer}}
      <h2>Events Posted</h2>
      <a href="/events/create">Create Event</a>
    {{else}}
      <h2>Favorite Events</h2>
    {{/if}}
      <div class="events-container">
        {{#each eventsRole}}
          {{> event}}
        {{/each}}
      </div>
    </section>
  {{/if}}
</div>