<div class="content">
  <section class="content-section">
    <h2>Events</h2>
    <div class="events-container" id="events-container">
      {{#each events}}
        {{> event}}
      {{/each}}
    </div>
  </section>
  {{#if signedIn}}
    <section class="content-section">
    {{#if organizer}}
      <h2>Events Posted</h2>
      <div class="events-container">
        {{#each eventsPosted}}
          {{> event}}
        {{/each}}
      </div>
    {{else}}
      <h2>Favorite Events</h2>
      <div class="events-container">
        {{#each eventsFavorited}}
          {{> event}}
        {{/each}}
      </div>
    {{/if}}
    </section>
  {{/if}}
</div>