<div class="content">
  <section class="content-section">
    <h2>Welcome To Our Website!</h2>
    <p>Event Finder aims to help you engage with your community!</p>
  </section>
  <section class="content-section">
    <h2>Recent Events</h2>
  </section>
</div>