html {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    border-width: 10px;
    border-color: #60a997;
    border-style: solid;
    margin-bottom: 20px;
    font-size: 20px;
}

label {
    margin-bottom: 20px;
}

input {
    font-size: 15px;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    border: 3px solid #60a997;
}

select {
    font-size: 15px;
    height: 35px;
    width: 200px;
    margin-bottom: 20px;
}

select:focus {
    outline: none;
    border: 3px solid #60a997;
}

button {
    font-size: 15px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    color: white;
    background-color: #60a997; 
    margin: 20px;  
}
